html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.icon {
    cursor: pointer;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.hide-desktop {
    display: none;
}

@media (max-width: 768px) {
    .hide-desktop {
        display: inherit;
    }
    .hide-tablet {
        display: none;
    }
}

@media (max-width: 450px) {
    .hide-desktop,
    .hide-tablet {
        display: inherit;
    }
    .hide-mobile {
        display: none;
    }
}